{% extends "layout.html" %}
{% block body %}

	<img src="{{ url_for('get_profile_image', filename=profile_image)}}" alt="">
	<form enctype="multipart/form-data" action="{{url_for('upload_image')}}" method="post">
		<input type="file" name="profile-image">
		<button type="submit"> submit </button>
	</form>
<div class="container-fluid signup">
    <div class="col-md-3"></div>
    <div class="col-md-6 signup_container">
      <h2>Profile</h2>
      <form action="{{ url_for('info_revise_check', id=session.user_id) }}" method=post>
        <dl>
          {% if form %}

            {{ form.hidden_tag() }}

            {% if form.errors %}
              <div class="alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert"> &times; </a>
                {% for field, errors in form.errors.items() %}
                  <ul>
                      {% for error in errors %}
                      <li> {{errors}} </li>
                      {% endfor %}
                  </ul>
                {% endfor %}
              </div>
            {% endif %}

            {% if message %}
            <div class="alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert"> &times; </a>
                {{ message }}
            </div>
            {% endif %}
            
            {% for field in form if field.widget.input_type !="hidden" %}
              <div class="form-group{% if field.errors %} has-error {% endif %}">
                <label for="{{field.id}}">{{ field.label }}</label>
                {% if field.type == "RadioField" %}
                  {{ field(placeholder = field.description.placeholder) }}
                {% else %}
                  {% if field.id=="email" %}
                	{{ field(disabled=true) }}
                {% else %}
                	{{ field(class="form-control", placeholder = field.description.placeholder) }}
                {% endif %}
                {% endif %}
                
                {% if field.errors %}
                  <div class="help-block">
                    <ul>
                      {% for error in field.errors %}
                        <li> {{error}} </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          {% endif %}
          <dd><input type=submit value="Submit"></dd>
        </dl>
      </form>
    </div>
  </div>



{% endblock %}